@charset "utf-8";
body {
    line-height: 1.5;
}
.row {
    margin-bottom: 2em;
}
.btn {
    width: 170px;
}
.view {
    position: relative;
    height: 300px;
    border: 2px dotted #E4E4E4;
}

#input-view{
    width: 100%;
    height: 500px;
}

#input-view canvas{
    width: 100%;
    height: 100%;
}
